@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Lenster', Helvetica, Arial, sans-serif;

  @apply bg-gray-50;
  @apply dark:bg-black;
}

.shimmer {
  @apply animate-pulse;
  @apply bg-gray-300;
  @apply dark:bg-gray-600;
}

.linkify a {
  @apply text-brand-500 dark:text-brand-400;
  @apply hover:text-brand-600 dark:hover:text-brand-500;
}

.identicon {
  width: 100% !important;
  height: 100% !important;
}

::-webkit-file-upload-button {
  @apply px-3 py-2 mr-2 border-0 cursor-pointer rounded-l-xl;
  @apply bg-gray-200 dark:bg-gray-900;
}

.bg-hero {
  background: linear-gradient(90deg, #fff, #fff 50%, hsla(0, 0%, 100%, 0)),
    url(https://assets.lenster.xyz/images/patterns/hero.png);
  background-size: cover;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.giphy-gif {
  @apply !rounded-none;
}
